body {
    margin: 0px;
    padding: 0px;
    width: 98.7vw;
}

html {
    margin: 0px;
    padding: 0px;
}

header {
    display: none;
}

#main-header {
    background-image: url(../images/personal/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 100px;
}

#main-header-link {
    text-decoration: none;
    color: white;
}

#main-header-content {
    width: 100%;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header-content > .button {
    font-size: 13px;
    font-weight: 600;
}

#main-header-content > #normal-text {
    margin-top: 16px;
}

#main-header-content > #bold-text {
    font-size: 60px;
    line-height: 60px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 40px;
}

@media only screen and (max-width: 1023px) {
    #main-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
        background-size: cover;
    }

    #main-header-content {
        align-items: center;
        font-size: 22px;
    }

    #main-header-content > #bold-text {
        font-size: 40px;
        font-weight: bolder;
        margin: 0px;
    }
}

@media only screen and (max-width: 767px) {
    #main-header {   
        height: 49vh;
    }
}

#grid-one {
    width: 98.71vw;
    display: grid;
    grid-template-columns: repeat(3, 369px);
    gap: 11px;
    color: #666666;
    justify-content: center;
}

.grid {
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.grid-content {
    padding: 0px 30px 30px 30px;
    font-size: 18px;
    font-weight: lighter;
}

.element {
    height: 148px;
    background-size: cover;
    background-position-y: 26%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#element-one {
    background-image: url(../images/personal/Whatsapp-Banking-grid-1.jpg);
}

#element-two {
    background-image: url(../images/personal/kiki-grid-1.jpg);
}

#element-three {
    background-image: url(../images/personal/credit-card-grid-1.jpg);
    background-position-y: 0%;
}

#element-four {
    background-image: url(../images/personal/cafe-one-grid-1.jpg);
}

#element-five {
    background-image: url(../images/personal/sterling-one-woman-grid-1.jpg);
}

#element-six {
    background-image: url(../images/personal/sterling-hub-grid-1.jpg);
    background-position-y: 32%;
}

#element-seven {
    background-image: url(../images/personal/Switch-sterling-scaled-grid-1.jpg);
    background-position-y: 50%;
}

#element-eight {
    background-image: url(../images/personal/farepaywithmasterslogo-grid-1.png);
    background-position-y: 0%;
}

#element-nine {
    background-image: url(../images/personal/diaspora-grid-1.jpg);
    background-position-y: 50%;
}

.button {
    background-color: #d92028;
    width: 95px;
    text-align: center;
    padding: 7px;
    border-radius: 25px;
    color: white;
}

#download {
    display: grid;
    grid-template-columns: 90px 90px;
    grid-gap: 1vw;
}

#download > img {
    width: 90px;
}

@media only screen and (max-width: 1163px){
    #grid-one {
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 4px;
    }
}

@media only screen and (max-width: 885px){
    #download > img {
        width: 75px;
    }
}

@media only screen and (max-width: 767px) {
    #grid-one {
        width: 88vw;
        grid-template-columns: 1fr;
        margin: auto;
    }


    #download {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 1vw;
        
    }
    
    #download > img {
        width: 260px;
    }
}